@use "fonts" as *;
@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}

.header {
  background-color: $bandsite-black;
  padding: 16px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__link {
    padding-bottom: 16px;
  }

  &__logo {
    width: 120px;
    height: 20px;
  }
}

.header-nav {
  width: 100%;

  &__ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__item {
    color: $mercury;
  }

  &__link {
    text-decoration: none;
    color: $mercury;
    padding-bottom: 14px;

    border-bottom: 2px solid transparent;

    &:hover {
      color: $white;
      border-color: $white;
    }

    &:active,
    &:focus {
      color: $white;
      font-weight: 700;
      border-color: $white;
    }
  }
}

.contact {
  background-color: $bandsite-black;
  color: $white;
  padding: 24px 16px 16px;

  &__title {
    padding-bottom: 16px;
    @include text-style(24px, 32px, 700);
  }
}
.contact-socials {
  &__link {
    text-decoration: none;
  }

  &__logo {
    padding-right: 32px;
  }
}

.contact-article {
  &__name {
    padding: 32px 0px 16px;
    @include text-style(13px, 18px, 700);
  }

  &__address {
    @include text-style(13px, 18px, 400);
  }

  &__address2 {
    padding-bottom: 16px;
    @include text-style(13px, 18px, 400);
  }

  &__email {
    text-decoration: none;
    color: $white;

    @include text-style(13px, 18px, 400);
  }
}
.contact-brands {
  &__main {
    padding-top: 16px;
  }
}

.contact-footer {
  &__logo {
    padding-top: 48px;
    width: 120px;
  }

  &__copyright {
    padding: 16px 0px;
    @include text-style(13px, 18px, 400);
  }
}
