@use "fonts" as *;
@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}

.header {
  background-color: $bandsite-black;
  padding: 16px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding: 32px 36px;
    flex-direction: row;
  }

  @include desktop {
    padding: 32px 128px; //might change 32px
  }

  &__link {
    padding-bottom: 16px;

    @include tablet {
      padding-bottom: 0px;
      padding-right: 36px;
    }
  }

  &__logo {
    width: 120px;
    height: 20px;
  }
}

.header-nav {
  width: 100%;

  &__ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__item {
    color: $mercury;
  }

  &__link {
    text-decoration: none;
    color: $mercury;
    padding-bottom: 14px;

    border-bottom: 2px solid transparent;

    &:hover {
      color: $white;
      border-color: $white;
    }

    &:active,
    &:focus {
      color: $white;
      font-weight: 700;
      border-color: $white;
    }

    @include tablet {
      padding: 0px 36px 32px;
    }
  }
}

.contact {
  background-color: $bandsite-black;
  color: $white;
  padding: 24px 16px 16px;

  @include tablet {
    padding: 48px 36px 48px;
  }

  @include desktop {
    padding: 48px 128px 48px;
  }

  &__title {
    padding-bottom: 16px;
    @include text-style(24px, 32px, 700);

    @include tablet {
      display: none;
    }
  }
}
.contact-socials {
  &__link {
    text-decoration: none;
  }

  &__logo {
    padding-right: 32px;
  }

  @include tablet {
    display: none;
  }
}

.contact-article {
  &__name {
    padding: 32px 0px 16px;
    @include text-style(13px, 18px, 700);

    @include tablet {
      padding: 48px 0px 36px;
      @include text-style(14px, 20px, 700);
    }
  }

  &__address {
    @include text-style(13px, 18px, 400);

    @include tablet {
      @include text-style(14px, 20px, 400);
    }
  }

  &__address2 {
    padding-bottom: 16px;
    @include text-style(13px, 18px, 400);

    @include tablet {
      padding-bottom: 36px;
      @include text-style(14px, 20px, 400);
    }
  }

  &__email {
    text-decoration: none;
    color: $white;

    @include text-style(13px, 18px, 400);

    @include tablet {
      @include text-style(14px, 20px, 400);
    }
  }

  &__title {
    display: none;

    @include tablet {
      display: flex;

      @include text-style(36px, 44px, 700);
    }
  }

  &__socials {
    display: none;

    @include tablet {
      display: flex;
      line-height: 44px;
      gap: 32px; //maybe change value
    }
  }

  &__img {
    display: none;

    @include tablet {
      display: flex;
      justify-self: flex-end;
    }

    @include desktop {
      visibility: hidden;
    }
  }

  &__container {
    @include tablet {
      height: 44px;
    }
  }

  &__logo-container {
    display: none;

    @include desktop {
      display: flex;
      height: 44px;
      align-items: flex-start;
    }
  }

  &__logo {
    @include desktop {
      width: 120px;
      height: 20px;
      justify-self: flex-end;
    }
  }
}
.contact-brands {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  &__main {
    padding-top: 16px;

    @include tablet {
      padding-top: 48px;
    }
  }
}

.contact-footer {
  &__logo {
    padding-top: 48px;
    width: 120px;

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    padding: 16px 0px;
    @include text-style(13px, 18px, 400);

    @include tablet {
      padding-top: 48px;
      @include text-style(14px, 20px, 400);
    }
  }
}
