@use "fonts" as *;
@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}

.header {
  background-color: $bandsite-black;
  padding: 1rem 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding: 2rem 2.25rem;
    flex-direction: row;
  }

  @include desktop {
    padding: 2rem 8rem;
  }

  &__link {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 0rem;
      padding-right: 2.25rem;
    }
  }

  &__logo {
    width: 7.5rem;
    height: 1.25rem;
  }
}

.header-nav {
  width: 100%;

  &__ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__item {
    color: $mercury;
  }

  &__link {
    text-decoration: none;
    color: $mercury;
    padding-bottom: 0.875rem;

    border-bottom: 0.125rem solid transparent;

    &:hover {
      color: $white;
      border-color: $white;
    }

    &:active,
    &:focus {
      color: $white;
      font-weight: 700;
      border-color: $white;
    }

    @include tablet {
      padding: 0rem 2.25rem 2rem;
    }
  }
}

.contact {
  background-color: $bandsite-black;
  color: $white;
  padding: 1.5rem 1rem 1rem;

  @include tablet {
    padding: 3rem 2.25rem 3rem;
  }

  @include desktop {
    padding: 3rem 8rem 3rem;
  }

  &__title {
    padding-bottom: 1rem;
    @include text-style(1.5rem, 2rem, 700);

    @include tablet {
      display: none;
    }
  }
}
.contact-socials {
  &__link {
    text-decoration: none;
  }

  &__logo {
    padding-right: 2rem;
  }

  @include tablet {
    display: none;
  }
}

.contact-article {
  &__name {
    padding: 2rem 0rem 1rem;
    @include text-style(0.8125rem, 1.125rem, 700);

    @include tablet {
      padding: 3rem 0rem 2.25rem;
      @include text-style(0.875rem, 1.25rem, 700);
    }
  }

  &__address {
    @include text-style(0.8125rem, 1.125rem, 400);

    @include tablet {
      @include text-style(0.875rem, 1.25rem, 400);
    }
  }

  &__address2 {
    padding-bottom: 1rem;
    @include text-style(0.8125rem, 1.125rem, 400);

    @include tablet {
      padding-bottom: 2.25rem;
      @include text-style(0.875rem, 1.25rem, 400);
    }
  }

  &__email {
    text-decoration: none;
    color: $white;

    @include text-style(0.8125rem, 1.125rem, 400);

    @include tablet {
      @include text-style(0.875rem, 1.25rem, 400);
    }
  }

  &__title {
    display: none;

    @include tablet {
      display: flex;

      @include text-style(2.25rem, 2.75rem, 700);
    }
  }

  &__socials {
    display: none;

    @include tablet {
      display: flex;
      line-height: 2.75rem;
      gap: 2rem;
    }
  }

  &__img {
    display: none;

    @include tablet {
      display: flex;
      justify-self: flex-end;
    }

    @include desktop {
      visibility: hidden;
    }
  }

  &__container {
    @include tablet {
      height: 2.75rem;
    }
  }

  &__logo-container {
    display: none;

    @include desktop {
      display: flex;
      height: 2.75rem;
      align-items: flex-start;
    }
  }

  &__logo {
    @include desktop {
      width: 7.5rem;
      height: 1.25rem;
      justify-self: flex-end;
    }
  }
}
.contact-brands {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  &__main {
    padding-top: 1rem;

    @include tablet {
      padding-top: 3rem;
    }
  }
}

.contact-footer {
  &__logo {
    padding-top: 3rem;
    width: 7.5rem;

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    padding: 1rem 0rem;
    @include text-style(0.8125rem, 1.125rem, 400);

    @include tablet {
      padding-top: 3rem;
      @include text-style(0.875rem, 1.25rem, 400);
    }
  }
}
