@use "variables" as *;

// repsonsive design breakpoints

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// padding

@mixin padding-sides($padding) {
  padding: 0%;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin padding-component($top, $sides) {
  padding: $sides;
  padding-top: $top;
}

// text style

@mixin text-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

// call to actions

@mixin button {
  height: 2.5rem;
  border-radius: 0.25rem; // double check if this is what is meant in style guide
  width: 100%;

  @include desktop {
    width: 9.375rem;
    padding: 0%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include tablet {
    width: 9.375rem;
    padding: 0%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
