// repsonsive design breakpoints

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// text style formatting

@mixin text-style($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}
