// primary colours

$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

// secondary colours

$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// padding desktop/tablet

$dt-padding-top: 3rem;
$dt-padding-sides: 2.25rem;

// padding mobile

$mobile-padding-top: 1.5rem;
$mobile-padding-sides: 1rem;

// padding desktop-only

$desktop-padding-sides: 8rem;