// primary colours

$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

// secondary colours

$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// padding desktop/tablet

$dt-padding-top: 48px;
$dt-padding-sides: 36px;

// padding mobile

$mobile-padding-top: 24px;
$mobile-padding-sides: 16px;

// padding desktop-only

$desktop-padding-sides: 128px;