@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

.cover {
  background: linear-gradient(
      rgba($bandsite-black, 0.5),
      rgba($bandsite-black, 0.5)
    ),
    url(/assets/images/hero-bio.jpg) center/cover no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include padding-sides($mobile-padding-sides);

  @include tablet {
    @include padding-sides($dt-padding-sides);
  }

  @include desktop {
    @include padding-sides($desktop-padding-sides);
  }

  &__title {
    color: white;

    @include text-style(1.5rem, 2rem, 700);
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include tablet {
      @include text-style(3.75rem, 4.25rem, 700);
      padding-top: 11.25rem;
      padding-bottom: 11.25rem;
    }

    @include desktop {
      @include text-style(3.75rem, 4.25rem, 700);
      padding-top: 35rem;
      padding-bottom: 35rem;
    }
  }
}

.about {
  &__title {
    color: $bandsite-black;

    @include text-style(1.5rem, 2rem, 700);
    @include padding-component($mobile-padding-top, $mobile-padding-sides);

    @include tablet {
      @include text-style(2.25rem, 2.75rem, 700);
      @include padding-component($dt-padding-top, $dt-padding-sides);
    }

    @include desktop {
      @include text-style(2.25rem, 2.75rem, 700);
      @include padding-component($dt-padding-top, $desktop-padding-sides);
      padding-bottom: $dt-padding-sides;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    @include padding-component(0px, $mobile-padding-sides);

    @include tablet {
      width: 100%;
      height: auto;
      @include padding-sides(6.25rem);
      padding-bottom: $dt-padding-sides;
    }

    @include desktop {
      width: 100%;
      height: auto;
      @include padding-sides(calc($desktop-padding-sides + 6.25rem));
      padding-bottom: $dt-padding-sides;
    }
  }

  &__quote {
    color: $bandsite-black;

    @include text-style(0.875rem, 1.375rem, 600);
    @include padding-sides($mobile-padding-sides);

    @include tablet {
      @include text-style(1.5rem, 2rem, 700);
      @include padding-sides(6.25rem);
    }

    @include desktop {
      @include text-style(1.5rem, 2rem, 700);
      @include padding-sides(calc($desktop-padding-sides + 6.25rem));
    }
  }

  &__quote-source {
    color: $bandsite-black;

    @include text-style(0.875rem, 1.375rem, 600);
    @include padding-component(0px, $mobile-padding-sides);

    @include tablet {
      @include text-style(0.875rem, 1.375rem, 700);
      @include padding-sides(6.25rem);
      padding-top: 0.5rem;
    }

    @include desktop {
      @include text-style(0.875rem, 1.375rem, 700);
      @include padding-sides(calc($desktop-padding-sides + 6.25rem));
      padding-top: 1rem;
    }
  }

  &__band-name {
    color: $bandsite-darkblack;

    @include text-style(0.8125rem, 1.125rem, 400);
    @include padding-component($mobile-padding-sides, $mobile-padding-sides);
    padding-bottom: 0%;

    @include tablet {
      @include text-style(1.5rem, 2rem, 500);
      @include padding-sides(6.25rem);
      padding-top: $dt-padding-top;
      padding-bottom: $dt-padding-sides;
    }

    @include desktop {
      @include text-style(1.5rem, 2rem, 500);
      @include padding-sides(calc($desktop-padding-sides + 6.25rem));
      padding-top: $dt-padding-top;
      padding-bottom: $dt-padding-sides;
    }
  }

  &__band-bio {
    color: $bandsite-black;

    @include text-style(0.8125rem, 1.125rem, 400);

    @include tablet {
      display: flex;
      justify-content: space-between;

      @include text-style(0.875rem, 1.375rem, 400);
      @include padding-sides(6.25rem);

      padding-bottom: $dt-padding-sides;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;

      @include text-style(0.875rem, 1.375rem, 400);
      @include padding-sides(calc($desktop-padding-sides + 6.25rem));

      padding-bottom: $dt-padding-sides;
    }

    &-left {
      @include padding-component($mobile-padding-sides, $mobile-padding-sides);

      @include tablet {
        padding-right: 4rem;
      }

      @include desktop {
        padding-right: 1.5rem;
      }
    }

    &-right {
      @include padding-component($mobile-padding-sides, $mobile-padding-sides);
      // will need @incluce tablet and @include desktop ?? if padding above not needed or want smthn different
    }
  }
}

.photos {
  background-color: $alabaster;

  &__title {
    color: $bandsite-black;

    @include text-style(1.5rem, 2rem, 700);
    @include padding-component($mobile-padding-top, $mobile-padding-sides);

    @include tablet {
      @include text-style(2.25rem, 2.75rem, 700);
      @include padding-component($dt-padding-top, $dt-padding-sides);
    }

    @include desktop {
      @include text-style(2.25rem, 2.75rem, 700);
      @include padding-component($dt-padding-top, $desktop-padding-sides);
      padding-bottom: $dt-padding-sides;
    }
  }

  &__grid {
    @include tablet {
      @include padding-component(0px, $dt-padding-sides);

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }

    @include desktop {
      @include padding-component(0px, $desktop-padding-sides);
      padding-bottom: $dt-padding-sides;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  &__card-img {
    @include padding-component(0px, $mobile-padding-sides);

    display: block;
    width: 100%;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      width: 100%;
    }

    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}

.comments {
  &__img {
    //picture doesn't match mockup
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 26px;
  }

  &__title {
    color: $bandsite-black;

    @include text-style(1.5rem, 2rem, 700);
    @include padding-component($mobile-padding-top, $mobile-padding-sides);
  }

  &__article {
    display: flex;
    gap: $mobile-padding-sides;
    @include padding-sides($mobile-padding-sides);
    padding-bottom: $mobile-padding-sides;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    &-label {
      color: $silver;
      @include text-style(10px, 20px, 700);
      padding-bottom: 4px;
    }

    &-input {
      height: 36px;
      width: 100%;
      border-radius: 4px;
      padding: 12px;
      border: 1px solid $mercury;
      background-color: $alabaster;
      margin-bottom: $mobile-padding-sides;

      &::placeholder {
        color: $bandsite-black;
        @include text-style(13px, 18px, 400);
      }
    }

    &-textarea {
      resize: none;
      height: 90px;
      width: 100%;
      border-radius: 4px;
      padding: 12px;
      border: 1px solid $mercury;
      background-color: $alabaster;
      font-family: inherit;
      margin-bottom: $mobile-padding-sides;

      &::placeholder {
        color: $bandsite-black;
        @include text-style(13px, 18px, 400);
      }
    }

    &-button {
      @include button;
      @include text-style(14px, 22px, 700);
      font-family: inherit;
    }
  }

  &__line {
    margin-left: $mobile-padding-sides;
    margin-right: $mobile-padding-sides;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $mobile-padding-sides;
    justify-content: space-between;
    padding: $mobile-padding-sides;
  }

  &__card {
    display: flex;
    gap: $mobile-padding-sides;
    justify-content: space-between;

    &-ph {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $mercury;
      background-image: url("");
      flex-shrink: 0;
    }

    &-info {
      &-personal {
        display: flex;
        justify-content: space-between;
        padding-bottom: $mobile-padding-sides;

        &-name {
          color: $bandsite-black;
          @include text-style(13px, 18px, 600);
        }

        &-time {
          color: $silver;
          @include text-style(13px, 18px, 400);
        }
      }

      &-comment {
        overflow-wrap: break-word;
        word-wrap: break-word; // Legacy support for older browsers
        word-break: break-word;

        color: $bandsite-darkblack;

        @include text-style(13px, 18px, 400);
      }
    }
  }
}
