@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

.cover {
  background: linear-gradient(
      rgba($bandsite-black, 0.5),
      rgba($bandsite-black, 0.5)
    ),
    url(/assets/images/hero-bio.jpg) center/cover no-repeat;
  width: 100%;
  height: 58vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__title {
    color: white;
    padding-left: 1rem;

    @include text-style(1.5rem, 2rem, 700);

    @include tablet {
      padding-left: 2.25rem;
      @include text-style(3.75rem, 4.25rem, 700);
    }

    @include desktop {
      padding-left: 8rem;
    }
  }
}

.about {
  color: $bandsite-black;
  padding: 1.5rem 1rem 1rem;

  @include tablet {
    padding: 3rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 3rem 8rem 2.25rem;
  }

  &__title {
    @include text-style(1.5rem, 2rem, 700);

    @include tablet {
      @include text-style(2.25rem, 2.75rem, 700);
    }
  }

  &__img {
    width: 100%;
    height: auto;
    padding: 1rem 0rem;

    @include tablet {
      padding: 2.25rem 4rem;
    }

    @include desktop {
      padding: 2.25rem 6rem;
    }
  }

  &__quote {
    @include text-style(0.875rem, 1.375rem, 700);

    @include tablet {
      padding: 0rem 4rem;
      @include text-style(1.5rem, 2rem, 600);
    }

    @include desktop {
      padding-left: 6rem;
      padding-right: 0%;
      width: 75%;
    }
  }

  &__quote-source {
    padding-top: 0.5rem;
    @include text-style(0.875rem, 1.375rem, 700);

    @include tablet {
      padding: 1rem 4rem 0rem;
      @include text-style(0.875rem, 1.375rem, 700);
    }
    @include desktop {
      padding-left: 6rem;
    }
  }

  &__band-name {
    padding: 2rem 0rem 1rem;
    @include text-style(0.875rem, 1.375rem, 600);

    @include tablet {
      padding: 3rem 4rem 2.25rem;
      @include text-style(1.5rem, 2rem, 500);
    }

    @include desktop {
      padding-left: 6rem;
    }
  }

  &__band-container {
    @include tablet {
      display: flex;
      gap: 1.5rem;
    }
  }

  &__band-p1 {
    @include text-style(0.8125rem, 1.125rem, 400);

    @include tablet {
      padding-left: 4rem;
      @include text-style(0.875rem, 1.375rem, 400);
    }

    @include desktop {
      padding-left: 6rem;
    }
  }

  &__band-p2 {
    padding-top: 2rem;
    @include text-style(0.8125rem, 1.125rem, 400);

    @include tablet {
      padding-top: 0rem;
      padding-right: 4rem;
      @include text-style(0.875rem, 1.375rem, 400);
    }

    @include desktop {
      padding-right: 6rem;
    }
  }
}

.photos {
  background-color: $alabaster;
  padding: 1.5rem 1rem 1rem;

  @include tablet {
    padding: 3rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 3rem 8rem 2.25rem;
  }

  &__title {
    color: $bandsite-black;

    @include text-style(1.5rem, 2rem, 700);

    @include tablet {
      padding-bottom: 2.25rem;
      @include text-style(2.25rem, 2.75rem, 700);
    }
  }

  &__card-container {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  &__card-img {
    display: flex;
    width: 100%;
    padding-top: 1rem;

    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      padding-top: 0rem;
    }
  }
}

.comments {
  padding: 1.5rem 1rem 0rem;

  @include tablet {
    padding: 3rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 3rem 8rem 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $bandsite-black;

    @include text-style(1.5rem, 2rem, 700);

    @include tablet {
      padding-bottom: 2.25rem;
      @include text-style(2.25rem, 2.75rem, 700);
    }

    @include desktop {
      align-self: flex-start;
    }
  }

  &__line {
    border: none;
    background: none;
    height: 0.0625rem;
    background-color: $mercury;
  }

  &__default {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0rem;

    @include tablet {
      gap: 1.5rem;
      padding: 2.25rem 4rem 0rem;
    }

    @include desktop {
      padding: 2.25rem 0rem 0rem;
      width: 40vw;
    }
  }
}

.line {
  @include tablet {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @include desktop {
    width: 40vw;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.comments-article {
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem;

  @include tablet {
    padding: 0rem 4rem 2rem;
    gap: 1.5rem;
  }

  @include desktop {
    padding: 0rem 0rem 2rem;
    width: 40vw;
  }

  &__img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1.625rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
      margin-top: 1.25rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  &__label {
    color: $silver;
    padding-bottom: 0.25rem;
    @include text-style(0.625rem, 1.25rem, 700);

    @include tablet {
      @include text-style(0.75rem, 1.25rem, 700);
    }
  }

  &__input {
    height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    border: 0.0625rem solid $mercury;
    background-color: $alabaster;
    margin-bottom: 1rem;

    &::placeholder {
      color: $bandsite-black;
      @include text-style(0.8125rem, 1.125rem, 400);

      @include tablet {
        @include text-style(0.875rem, 1.375rem, 400);
      }
    }

    &:active {
      border: 0.0625rem solid $bandsite-black;
    }

    &:invalid {
      border: 0.0625rem solid #d22d2d;
    }

    @include tablet {
      height: 3rem;
      padding: 1rem;
    }
  }

  &__textarea {
    resize: none;
    height: 5.625rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    border: 0.0625rem solid $mercury;
    background-color: $alabaster;
    font-family: inherit;
    margin-bottom: 1rem;

    &::placeholder {
      color: $bandsite-black;
      @include text-style(0.8125rem, 1.125rem, 400);
    }

    &:active {
      border: 0.0625rem solid $bandsite-black;
    }

    &:invalid {
      border: 0.0625rem solid #d22d2d;
    }

    @include tablet {
      height: 3rem;
      padding: 1rem;
    }
  }

  &__button {
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid $bandsite-black;
    width: 100%;
    color: $white;
    background-color: $bandsite-black;
    @include text-style(0.875rem, 1.375rem, 600);
    font-family: inherit;

    &:hover {
      border: 0.0625rem solid $bandsite-darkblack;
      background-color: $bandsite-darkblack;
    }
    @include tablet {
      width: calc(100% / 3);
      align-self: flex-end;
    }
  }
}

.comments-card {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;

  &__img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $mercury;
    background-image: url("");
    flex-shrink: 0;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }

  &__info {
    width: 100%;
  }

  &__personal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  &__time {
    justify-self: flex-end;
    color: $silver;
    @include text-style(0.8125rem, 1.125rem, 400);
  }

  &__name {
    color: $bandsite-black;
    @include text-style(0.8125rem, 1.125rem, 600);
  }

  &__comment {
    overflow-wrap: break-word;
    word-wrap: break-word; // Legacy support for older browsers
    word-break: break-word;

    color: $bandsite-darkblack;

    @include text-style(0.8125rem, 1.125rem, 400);
  }
}
