@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}

.header {
  background-color: #323232;
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header {
    padding: 32px 36px;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 32px 128px;
  }
}
.header__link {
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .header__link {
    padding-bottom: 0px;
    padding-right: 36px;
  }
}
.header__logo {
  width: 120px;
  height: 20px;
}

.header-nav {
  width: 100%;
}
.header-nav__ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .header-nav__ul {
    justify-content: flex-start;
  }
}
.header-nav__item {
  color: #e1e1e1;
}
.header-nav__link {
  text-decoration: none;
  color: #e1e1e1;
  padding-bottom: 14px;
  border-bottom: 2px solid transparent;
}
.header-nav__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.header-nav__link:active, .header-nav__link:focus {
  color: #ffffff;
  font-weight: 700;
  border-color: #ffffff;
}
@media (min-width: 768px) {
  .header-nav__link {
    padding: 0px 36px 32px;
  }
}

.contact {
  background-color: #323232;
  color: #ffffff;
  padding: 24px 16px 16px;
}
@media (min-width: 768px) {
  .contact {
    padding: 48px 36px 48px;
  }
}
@media (min-width: 1280px) {
  .contact {
    padding: 48px 128px 48px;
  }
}
.contact__title {
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .contact__title {
    display: none;
  }
}

.contact-socials__link {
  text-decoration: none;
}
.contact-socials__logo {
  padding-right: 32px;
}
@media (min-width: 768px) {
  .contact-socials {
    display: none;
  }
}

.contact-article__name {
  padding: 32px 0px 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .contact-article__name {
    padding: 48px 0px 36px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }
}
.contact-article__address {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-article__address {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.contact-article__address2 {
  padding-bottom: 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-article__address2 {
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.contact-article__email {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-article__email {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.contact-article__title {
  display: none;
}
@media (min-width: 768px) {
  .contact-article__title {
    display: flex;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.contact-article__socials {
  display: none;
}
@media (min-width: 768px) {
  .contact-article__socials {
    display: flex;
    line-height: 44px;
    gap: 32px;
  }
}
.contact-article__img {
  display: none;
}
@media (min-width: 768px) {
  .contact-article__img {
    display: flex;
    justify-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .contact-article__img {
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .contact-article__container {
    height: 44px;
  }
}
.contact-article__logo-container {
  display: none;
}
@media (min-width: 1280px) {
  .contact-article__logo-container {
    display: flex;
    height: 44px;
    align-items: flex-start;
  }
}
@media (min-width: 1280px) {
  .contact-article__logo {
    width: 120px;
    height: 20px;
    justify-self: flex-end;
  }
}

@media (min-width: 768px) {
  .contact-brands {
    display: flex;
    justify-content: space-between;
  }
}
.contact-brands__main {
  padding-top: 16px;
}
@media (min-width: 768px) {
  .contact-brands__main {
    padding-top: 48px;
  }
}

.contact-footer__logo {
  padding-top: 48px;
  width: 120px;
}
@media (min-width: 768px) {
  .contact-footer__logo {
    display: none;
  }
}
.contact-footer__copyright {
  padding: 16px 0px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-footer__copyright {
    padding-top: 48px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.cover {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/images/hero-bio.jpg) center/cover no-repeat;
  width: 100%;
  height: 58vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cover__title {
  color: white;
  padding-left: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .cover__title {
    padding-left: 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .cover__title {
    padding-left: 128px;
  }
}

.about {
  color: #323232;
  padding: 24px 16px 16px;
}
@media (min-width: 768px) {
  .about {
    padding: 48px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 48px 128px 36px;
  }
}
.about__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.about__img {
  width: 100%;
  height: auto;
  padding: 16px 0px;
}
@media (min-width: 768px) {
  .about__img {
    padding: 36px 64px;
  }
}
@media (min-width: 1280px) {
  .about__img {
    padding: 36px 96px;
  }
}
.about__quote {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .about__quote {
    padding: 0px 64px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    padding-left: 96px;
    padding-right: 0%;
    width: 75%;
  }
}
.about__quote-source {
  padding-top: 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .about__quote-source {
    padding: 16px 64px 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .about__quote-source {
    padding-left: 96px;
  }
}
.about__band-name {
  padding: 32px 0px 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__band-name {
    padding: 48px 64px 36px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .about__band-name {
    padding-left: 96px;
  }
}
@media (min-width: 768px) {
  .about__band-container {
    display: flex;
    gap: 24px;
  }
}
.about__band-p1 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about__band-p1 {
    padding-left: 64px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .about__band-p1 {
    padding-left: 96px;
  }
}
.about__band-p2 {
  padding-top: 32px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about__band-p2 {
    padding-top: 0px;
    padding-right: 64px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .about__band-p2 {
    padding-right: 96px;
  }
}

.photos {
  background-color: #fafafa;
  padding: 24px 16px 16px;
}
@media (min-width: 768px) {
  .photos {
    padding: 48px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .photos {
    padding: 48px 128px 36px;
  }
}
.photos__title {
  color: #323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .photos__title {
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .photos__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.photos__card-img {
  display: flex;
  width: 100%;
  padding-top: 16px;
  filter: grayscale(100%);
}
.photos__card-img:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .photos__card-img {
    padding-top: 0px;
  }
}

.comments {
  padding: 24px 16px 0px;
}
@media (min-width: 768px) {
  .comments {
    padding: 48px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 48px 128px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.comments__title {
  color: #323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .comments__title {
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .comments__title {
    align-self: flex-start;
  }
}
.comments__line {
  border: none;
  background: none;
  height: 1px;
  background-color: #e1e1e1;
}
.comments__default {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  padding: 16px 0px;
}
@media (min-width: 768px) {
  .comments__default {
    gap: 24px;
    padding: 36px 64px 0px;
  }
}
@media (min-width: 1280px) {
  .comments__default {
    padding: 36px 0px 0px;
    width: 40vw;
  }
}

@media (min-width: 768px) {
  .line {
    margin-left: 64px;
    margin-right: 64px;
  }
}
@media (min-width: 1280px) {
  .line {
    width: 40vw;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.comments-article {
  padding-bottom: 16px;
  display: flex;
  gap: 16px;
}
@media (min-width: 768px) {
  .comments-article {
    padding: 0px 64px 32px;
    gap: 24px;
  }
}
@media (min-width: 1280px) {
  .comments-article {
    padding: 0px 0px 32px;
    width: 40vw;
  }
}
.comments-article__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 26px;
}
.comments-article__form {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.comments-article__label {
  color: #afafaf;
  padding-bottom: 4px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .comments-article__label {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
.comments-article__input {
  height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  margin-bottom: 16px;
}
.comments-article__input::-moz-placeholder {
  color: #323232;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.comments-article__input::placeholder {
  color: #323232;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .comments-article__input::-moz-placeholder {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .comments-article__input::placeholder {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}
.comments-article__input:active {
  border: 1px solid #323232;
}
.comments-article__input:invalid {
  border: 1px solid #d22d2d;
}
.comments-article__textarea {
  resize: none;
  height: 90px;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  font-family: inherit;
  margin-bottom: 16px;
}
.comments-article__textarea::-moz-placeholder {
  color: #323232;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.comments-article__textarea::placeholder {
  color: #323232;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.comments-article__textarea:active {
  border: 1px solid #323232;
}
.comments-article__textarea:invalid {
  border: 1px solid #d22d2d;
}
.comments-article__button {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #323232;
  width: 100%;
  color: #ffffff;
  background-color: #323232;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: inherit;
}
.comments-article__button:hover {
  border: 1px solid #000000;
  background-color: #000000;
}
@media (min-width: 768px) {
  .comments-article__button {
    width: 33.3333333333%;
    align-self: flex-end;
  }
}

.comments-card {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}
.comments-card__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-image: url("");
  flex-shrink: 0;
}
.comments-card__info {
  width: 100%;
}
.comments-card__personal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.comments-card__time {
  justify-self: flex-end;
  color: #afafaf;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.comments-card__name {
  color: #323232;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}
.comments-card__comment {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}/*# sourceMappingURL=bio.css.map */