@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}

.header {
  background-color: #323232;
}
@media (max-width: 320px) {
  .header {
    padding: 0px;
    padding-top: 16px;
  }
}

.nav__logo-img {
  height: 20px;
  width: 120px;
  display: flex;
  justify-self: center;
}
.nav__list {
  list-style-type: none;
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
}
.nav__list-item {
  text-align: center;
  width: 100%;
  padding-bottom: 16px;
}
.nav__list-item:active {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  font-weight: 700;
}
.nav__list-item:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}
.nav__list-link {
  color: #E1E1E1;
  text-decoration: none;
}
.nav__list-link:active {
  color: #FFFFFF;
  font-weight: 700;
}
.nav__list-link:hover {
  color: #FFFFFF;
}

.cover {
  box-sizing: border-box;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/images/hero-bio.jpg) center/cover no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 320px) {
  .cover {
    padding: 0%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cover__title {
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 320px) {
  .cover__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.about__title {
  color: #323232;
}
@media (max-width: 320px) {
  .about__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding: 16px;
    padding-top: 24px;
  }
}
.about__img {
  width: 100%;
  height: auto;
  padding: 16px;
  padding-top: 0px;
}
.about__quote {
  color: #323232;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 0%;
  padding-left: 16px;
  padding-right: 16px;
}
.about__quote-source {
  color: #323232;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 16px;
  padding-top: 0px;
}
.about__band-name {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 16px;
  padding-top: 16px;
  padding-bottom: 0%;
}
.about__band-bio {
  color: #323232;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 16px;
  padding-top: 16px;
}

.photos {
  background-color: #FAFAFA;
}
.photos__title {
  color: #323232;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 16px;
  padding-top: 24px;
}
.photos__card {
  padding: 16px;
  padding-top: 0px;
}
.photos__card-img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.photos__card-img:hover {
  filter: grayscale(0%);
}

.contact {
  background-color: #323232;
  color: #FFFFFF;
}
.contact__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 16px;
  padding-top: 24px;
}
.contact__logo {
  padding: 0%;
  padding-left: 16px;
  padding-right: 16px;
}
.contact__link {
  text-decoration: none;
}
.contact__brand-name {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 16px;
  padding-top: 16px;
}
.contact__brand-address {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 16px;
  padding-top: 0px;
}
.contact__brand-email {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 16px;
  padding-top: 0px;
  display: block;
}
.contact__band-logo {
  padding: 16px;
  padding-top: 48px;
}
.contact__copyright {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 16px;
  padding-top: 0px;
}/*# sourceMappingURL=bio.css.map */