@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}

.header {
  background-color: #323232;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header {
    padding: 2rem 2.25rem;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 2rem 8rem;
  }
}
.header__link {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .header__link {
    padding-bottom: 0rem;
    padding-right: 2.25rem;
  }
}
.header__logo {
  width: 7.5rem;
  height: 1.25rem;
}

.header-nav {
  width: 100%;
}
.header-nav__ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .header-nav__ul {
    justify-content: flex-start;
  }
}
.header-nav__item {
  color: #e1e1e1;
}
.header-nav__link {
  text-decoration: none;
  color: #e1e1e1;
  padding-bottom: 0.875rem;
  border-bottom: 0.125rem solid transparent;
}
.header-nav__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.header-nav__link:active, .header-nav__link:focus {
  color: #ffffff;
  font-weight: 700;
  border-color: #ffffff;
}
@media (min-width: 768px) {
  .header-nav__link {
    padding: 0rem 2.25rem 2rem;
  }
}

.contact {
  background-color: #323232;
  color: #ffffff;
  padding: 1.5rem 1rem 1rem;
}
@media (min-width: 768px) {
  .contact {
    padding: 3rem 2.25rem 3rem;
  }
}
@media (min-width: 1280px) {
  .contact {
    padding: 3rem 8rem 3rem;
  }
}
.contact__title {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .contact__title {
    display: none;
  }
}

.contact-socials__link {
  text-decoration: none;
}
.contact-socials__logo {
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .contact-socials {
    display: none;
  }
}

.contact-article__name {
  padding: 2rem 0rem 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .contact-article__name {
    padding: 3rem 0rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.contact-article__address {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-article__address {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.contact-article__address2 {
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-article__address2 {
    padding-bottom: 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.contact-article__email {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-article__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.contact-article__title {
  display: none;
}
@media (min-width: 768px) {
  .contact-article__title {
    display: flex;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.contact-article__socials {
  display: none;
}
@media (min-width: 768px) {
  .contact-article__socials {
    display: flex;
    line-height: 2.75rem;
    gap: 2rem;
  }
}
.contact-article__img {
  display: none;
}
@media (min-width: 768px) {
  .contact-article__img {
    display: flex;
    justify-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .contact-article__img {
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .contact-article__container {
    height: 2.75rem;
  }
}
.contact-article__logo-container {
  display: none;
}
@media (min-width: 1280px) {
  .contact-article__logo-container {
    display: flex;
    height: 2.75rem;
    align-items: flex-start;
  }
}
@media (min-width: 1280px) {
  .contact-article__logo {
    width: 7.5rem;
    height: 1.25rem;
    justify-self: flex-end;
  }
}

@media (min-width: 768px) {
  .contact-brands {
    display: flex;
    justify-content: space-between;
  }
}
.contact-brands__main {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .contact-brands__main {
    padding-top: 3rem;
  }
}

.contact-footer__logo {
  padding-top: 3rem;
  width: 7.5rem;
}
@media (min-width: 768px) {
  .contact-footer__logo {
    display: none;
  }
}
.contact-footer__copyright {
  padding: 1rem 0rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contact-footer__copyright {
    padding-top: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.cover {
  padding: 0rem 1rem;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/images/hero-shows.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
}
@media (min-width: 768px) {
  .cover {
    padding: 0rem 2.25rem;
    height: 65vw;
  }
}
@media (min-width: 1280px) {
  .cover {
    padding: 0rem 8rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
  }
}
.cover__album {
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .cover__album {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .cover__album {
    padding-bottom: 2.25rem;
  }
}
.cover__song {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .cover__song {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .cover__song {
    display: none;
  }
}
.cover__song2 {
  display: none;
}
@media (min-width: 1280px) {
  .cover__song2 {
    display: flex;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
.cover__soundcloud {
  border-radius: 0.25rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .cover__soundcloud {
    width: 60%;
    padding-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .cover__soundcloud {
    width: 40%;
  }
}

.shows {
  padding: 1.5rem 0rem 1rem;
}
@media (min-width: 768px) {
  .shows {
    padding: 3rem 1.125rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding: 3rem 8rem 2.25rem;
    padding-right: 5.75rem;
  }
}
.shows__title {
  color: #323232;
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .shows__title {
    padding-left: 1.125rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding-left: 0rem;
    display: inline-block;
  }
}
.shows__line {
  border: none;
  background: none;
  height: 0.0625rem;
  background-color: #e1e1e1;
}
@media (min-width: 1280px) {
  .shows__line {
    margin-left: 13rem;
  }
}
.shows__header {
  display: none;
}
@media (min-width: 768px) {
  .shows__header {
    display: flex;
    color: #afafaf;
    justify-content: space-between;
    padding: 2.25rem 1.125rem 1.125rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .shows__header {
    padding-left: 15.25rem;
    padding-top: 0%;
  }
}
@media (min-width: 768px) {
  .shows__header-date {
    flex: 1;
  }
}
@media (min-width: 1280px) {
  .shows__header-date {
    flex: 2;
  }
}
@media (min-width: 768px) {
  .shows__header-venue {
    flex: 1;
  }
}
@media (min-width: 768px) {
  .shows__header-location {
    flex: 1;
  }
}
@media (min-width: 768px) {
  .shows__header-button {
    visibility: hidden;
    width: 15%;
    flex: 1;
  }
}

.shows-card {
  padding: 1rem;
}
.shows-card:hover {
  background-color: #fafafa;
}
.shows-card:active {
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .shows-card {
    padding: 1.125rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .shows-card {
    padding-left: 15.25rem;
    padding-right: 2.25rem;
  }
}
.shows-card__header {
  color: #afafaf;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .shows-card__header {
    display: none;
  }
}
.shows-card__date {
  color: #323232;
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .shows-card__date {
    flex: 1;
    padding-bottom: 0rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .shows-card__date {
    flex: 2;
  }
}
.shows-card__venue {
  color: #323232;
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows-card__venue {
    flex: 1;
    padding-bottom: 0rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.shows-card__location {
  color: #323232;
  padding-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows-card__location {
    flex: 1;
    padding-bottom: 0rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.shows-card__button {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #323232;
  width: 100%;
  color: #ffffff;
  background-color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-family: inherit;
}
.shows-card__button:hover {
  border: 0.0625rem solid #000000;
  background-color: #000000;
}
@media (min-width: 768px) {
  .shows-card__button {
    flex: 1;
  }
}/*# sourceMappingURL=shows.css.map */