@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("../../assets/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans", Arial, Helvetica, sans-serif;
}

.header {
  background-color: #323232;
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__link {
  padding-bottom: 16px;
}
.header__logo {
  width: 120px;
  height: 20px;
}

.header-nav {
  width: 100%;
}
.header-nav__ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-nav__item {
  color: #e1e1e1;
}
.header-nav__link {
  text-decoration: none;
  color: #e1e1e1;
  padding-bottom: 14px;
  border-bottom: 2px solid transparent;
}
.header-nav__link:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.header-nav__link:active, .header-nav__link:focus {
  color: #ffffff;
  font-weight: 700;
  border-color: #ffffff;
}

.contact {
  background-color: #323232;
  color: #ffffff;
  padding: 24px 16px 16px;
}
.contact__title {
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.contact-socials__link {
  text-decoration: none;
}
.contact-socials__logo {
  padding-right: 32px;
}

.contact-article__name {
  padding: 32px 0px 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}
.contact-article__address {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.contact-article__address2 {
  padding-bottom: 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.contact-article__email {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.contact-brands__main {
  padding-top: 16px;
}

.contact-footer__logo {
  padding-top: 48px;
  width: 120px;
}
.contact-footer__copyright {
  padding: 16px 0px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.cover {
  padding: 0px 16px;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(/assets/images/hero-shows.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
}
.cover__album {
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.cover__song {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.cover__soundcloud {
  border-radius: 4px;
  padding-top: 16px;
}

.shows {
  padding: 24px 0px 16px;
}
.shows__title {
  color: #323232;
  padding-left: 16px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.shows__line {
  border: none;
  background: none;
  height: 1px;
  background-color: #e1e1e1;
}
.shows__header {
  display: none;
}
.shows-card {
  padding: 16px;
}
.shows-card:hover {
  background-color: #fafafa;
}
.shows-card:active {
  background-color: #e1e1e1;
}
.shows-card__header {
  color: #afafaf;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
.shows-card__date {
  color: #323232;
  padding-bottom: 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}
.shows-card__venue {
  color: #323232;
  padding-bottom: 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.shows-card__location {
  color: #323232;
  padding-bottom: 16px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.shows-card__button {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #323232;
  width: 100%;
  color: #ffffff;
  background-color: #323232;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: inherit;
}
.shows-card__button:hover {
  border: 1px solid #000000;
  background-color: #000000;
}/*# sourceMappingURL=shows.css.map */