@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

.cover {
  padding: 0px 16px;
  background: linear-gradient(
      rgba($bandsite-black, 0.5),
      rgba($bandsite-black, 0.5)
    ),
    url(/assets/images/hero-shows.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $white;

  @include tablet {
    padding: 0px 36px;
    height: 65vw;
  }

  @include desktop {
    padding: 0px 128px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 128px;
  }

  &__album {
    padding-bottom: 16px;
    @include text-style(14px, 22px, 400);

    @include tablet {
      @include text-style(24px, 32px, 500);
    }

    @include desktop {
      padding-bottom: 36px;
    }
  }

  &__song {
    @include text-style(24px, 32px, 700);

    @include tablet {
      @include text-style(60px, 68px, 700);
    }

    @include desktop {
      display: none;
    }
  }

  &__song2 {
    display: none;

    @include desktop {
      display: flex;
      @include text-style(60px, 68px, 700);
    }
  }

  &__soundcloud {
    border-radius: 4px;
    padding-top: 16px;

    @include tablet {
      width: 60%;
      padding-top: 36px;
    }

    @include desktop {
      width: 40%;
    }
  }
}

.shows {
  padding: 24px 0px 16px;

  @include tablet {
    padding: 48px 18px 36px;
  }

  @include desktop {
    padding: 48px 128px 36px;
    padding-right: 92px;
  }

  &__title {
    color: $bandsite-black;
    padding-left: 16px;

    @include text-style(1.5rem, 2rem, 700);

    @include tablet {
      padding-left: 18px;

      @include text-style(36px, 44px, 700);
    }

    @include desktop {
      padding-left: 0px;
      display: inline-block;
    }
  }

  &__line {
    border: none;
    background: none;
    height: 1px;
    background-color: $mercury;

    @include desktop {
      margin-left: 208px;
    }
  }

  &__header {
    display: none;

    @include tablet {
      display: flex;
      color: $silver;
      justify-content: space-between;
      padding: 36px 18px 18px;

      @include text-style(12px, 20px, 700);
    }

    @include desktop {
      padding-left: 244px;
      padding-top: 0%;
    }
  }
  &__header-date {
    @include tablet {
      flex: 1;
    }

    @include desktop {
      flex: 2;
    }
  }

  &__header-venue {
    @include tablet {
      flex: 1;
    }
  }

  &__header-location {
    @include tablet {
      flex: 1;
    }
  }

  &__header-button {
    @include tablet {
      visibility: hidden;
      width: 15%;
      flex: 1;
    }
  }
}

.shows-card {
  padding: 16px;

  &:hover {
    background-color: $alabaster;
  }

  &:active {
    background-color: $mercury;
  }

  @include tablet {
    padding: 18px;
    display: flex;
    align-items: center;
  }

  @include desktop {
    padding-left: 244px;
    padding-right: 36px;
  }

  &__header {
    color: $silver;
    @include text-style(10px, 20px, 700);

    @include tablet {
      display: none;
    }

    //   @include desktop {
    //     display: none;
    //   }
  }

  &__date {
    color: $bandsite-black;
    padding-bottom: 16px;
    @include text-style(13px, 18px, 700);

    @include tablet {
      flex: 1;
      padding-bottom: 0px;

      @include text-style(14px, 22px, 700);
    }

    @include desktop {
      flex: 2;
    }
  }

  &__venue {
    color: $bandsite-black;
    padding-bottom: 16px;
    @include text-style(13px, 18px, 400);

    @include tablet {
      flex: 1;
      padding-bottom: 0px;

      @include text-style(14px, 22px, 400);
    }
  }

  &__location {
    color: $bandsite-black;
    padding-bottom: 16px;
    @include text-style(13px, 18px, 400);

    @include tablet {
      flex: 1;
      padding-bottom: 0px;

      @include text-style(14px, 22px, 400);
    }
  }

  &__button {
    height: 40px;
    border-radius: 4px;
    border: 1px solid $bandsite-black;
    width: 100%;
    color: $white;
    background-color: $bandsite-black;
    @include text-style(14px, 22px, 600);
    font-family: inherit;

    &:hover {
      border: 1px solid $bandsite-darkblack;
      background-color: $bandsite-darkblack;
    }

    @include tablet {
      flex: 1;
    }
  }
}
