@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;

.cover {
  background: linear-gradient(
      rgba($bandsite-black, 0.5),
      rgba($bandsite-black, 0.5)
    ),
    url(/assets/images/hero-shows.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $white;

  @include padding-sides($mobile-padding-sides);

  @include tablet {
    @include padding-sides($dt-padding-sides);
    height: 65vw;
  }

  &__album {
    padding-bottom: $mobile-padding-top;
    @include text-style(0.875rem, 1.375rem, 400);

    @include tablet {
      @include text-style(2.25rem, 2.75rem, 700);
    }
  }

  &__song {
    @include text-style(1.5rem, 2rem, 700);

    @include tablet {
      @include text-style(3.75rem, 4.25rem, 700);
    }
  }

  &__soundcloud {
    border-radius: 0.25rem;
    padding-top: $mobile-padding-top;

    @include tablet {
      padding-top: $dt-padding-sides;
      width: 60%;
    }
  }
}

.shows {
  padding-bottom: $mobile-padding-sides;

  @include tablet {
    @include padding-component($dt-padding-top, $dt-padding-sides);
  }

  &__heading {
    color: $bandsite-black;

    @include text-style(1.5rem, 2rem, 700);
    @include padding-component($mobile-padding-top, $mobile-padding-sides);

    @include tablet {
      padding: 0%;
      padding-bottom: $dt-padding-sides;
      @include text-style(2.25rem, 2.75rem, 700);
    }
  }

  &__card {
    padding: $mobile-padding-sides;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    &:hover {
      background-color: $alabaster;
    }

    &:active {
      background-color: $mercury;
    }

    &-header {
      color: $silver;
      @include text-style(0.625rem, 1.25rem, 700);
    }

    &-date {
      color: $bandsite-black;
      padding-bottom: $mobile-padding-sides;

      @include text-style(0.8125rem, 1.125rem, 700);
    }

    &-venue {
      color: $bandsite-black;
      padding-bottom: $mobile-padding-sides;

      @include text-style(0.8125rem, 1.125rem, 400);
    }

    &-location {
      color: $bandsite-black;
      padding-bottom: $mobile-padding-sides;
      @include text-style(0.8125rem, 1.125rem, 400);
    }

    &-button {
      @include tablet {
        width: 20%;
      }
    }
  }
}
